<h1> Log In</h1>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <br/>
<% end %>

<%= form_tag sessions_path do %>

    <%= label_tag :Email %>: 
    <%= text_field_tag :email, params[:email] %> <br />
    
    <%= label_tag :senha %>:
    <%= password_field_tag :password %> <br />
    
    <%= submit_tag "Log In" %>
<% end %>