<head>
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<title>Jclaud</title>

        <%= stylesheet_link_tag "normalize.css" %>
        <%= stylesheet_link_tag "bootstrap.min.css" %>
        <%= stylesheet_link_tag "slicknav.min.css" %>
        <%= stylesheet_link_tag "user" %>

		<%= javascript_include_tag('jquery-1.9.1.min.js') %>
		<%= javascript_include_tag('jquery.slicknav.min.js') %>
        <%= javascript_include_tag('jquery.maskedinput.min.js') %>
        <%= javascript_include_tag('user.js') %>
	
		<style type="text/css">

			body {
				height:100%;
			}

		</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('#menu').slicknav();
        $("#user_phone").mask("(99)9999-9999");
        $("#user_cellphone").mask("(99)99999-9999");
        $("#user_cpf").mask("999.999.999-99");
        $("#user_cep").mask("99.999-999");
        
        $("#btn_submit").click(function(){
            $("#user_phone").val($("#user_phone").mask());
            $("#user_cellphone").val($("#user_cellphone").mask());
            $("#user_cpf").val($("#user_cpf").mask());
            $("#user_cep").val($("#user_cep").mask());
        });
        
     });
</script>

</head>

	<body class="loading">

		<div id="header">


			<div id="wrapper-menu" style=" width:100%; height:100%; float:left; overflow:hidden; position:relative;">
				<div id ="menu_background"></div>
				<label for="show-menu" style="max-width:none;display:none;"class="show-menu">Menu</label>
				<ul id="menu" style="height:100%" >
				<li class="imagem-menu" style="height:100%"><%= image_tag("jclaud-logo.png",:class =>"imagem-menu" ,:style => "height:100%;float:left;padding-right:15px;") %></li>
					<li class="li-menu"><a href="<%= root_path() %>">Home</a></li>
				</ul>

			 </div>

		</div>

		<div id="wrapper" >
			<div id="slide-2" class="slide">
				<div class="bcg">
					<div class="hsContainer" style="top:5px; background:none; overflow:auto; bottom:5px;">
						
                        <div class="form" >

                            <h2> Cadastro usuário </h2>

                            <% if  !@user.errors.empty? %>
                            <div class="alert alert-danger">

                                <p> <%= image_tag("warning.png",:class =>"warning-img" ,:style => "height:50px;padding-right:15px;") %><strong>Atenção!</strong></p><hr/>

                                <% @user.errors.full_messages.each do |msg| %>
                                <p><strong>*</strong>  <%= msg %>	</p>
                                <% end %>
                            </div>
                            <% end %>

                            <%= form_tag :action => 'create' do %>

                            <div class="row" style="margin-left: 0%;">    
                                <%= text_field :user, :name, :maxlength=>"50", :size=>"25", class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" ,placeholder:"Nome" %>

                                <%= text_field :user, :lastname, :maxlength=>"50" , :size=>"25" , class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"Sobrenome"%>
                                
                                <%= text_field :user, :email  , :maxlength=>"50", class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"Email" %>	  
                                
                                <%= password_field :user, :password , :maxlength=>"10" , :size=>"10",  class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"Senha"%>
                                    
                                <%= text_field :user, :phone , :maxlength=>"10" , class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"Telefone"%>

                                <%= text_field :user, :cellphone , :maxlength=>"11" , class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"Celular"%> 

                                <%= text_field :user, :cpf, :maxlength=>"11" , :onblur=>"validaCPF();" , class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"CPF"%>

                                <%= text_field :user, :cep , :maxlength=>"8", :onblur => "pesquisacep(this.value);" , class:"input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder:"CEP"%>

                                <input class="input-cadastro-disabled col-xs-1 col-sm-2 col-md-2 col-lg-2" name="rua" type="text" id="rua" size="60" readonly="true" placeholder="Rua"  />
                                <input class="input-cadastro-disabled col-xs-1 col-sm-2 col-md-2 col-lg-2" name="bairro" type="text" id="bairro" size="40" readonly="true" placeholder="Bairro" />
                                <input class="input-cadastro-disabled col-xs-1 col-sm-2 col-md-2 col-lg-2" name="cidade" type="text" id="cidade" size="40" readonly="true" placeholder="Cidade" />
                                <input class="input-cadastro-disabled col-xs-1 col-sm-2 col-md-2 col-lg-2" name="uf" type="text" id="uf" size="2" readonly="true" placeholder="Estado" />

                                <%= text_field :user, :number , :maxlength=>"10" , class: "input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder: "Número" %>

                               <%= text_field :user, :complement , class: "input-cadastro col-xs-1 col-sm-2 col-md-2 col-lg-2" , placeholder: "Complemento" %>
                          
                            </div>
	 
                            <%= submit_tag 'Cadastrar' ,  class: "botao-login" , id:"btn_submit" %>

                            <% end %>
                        </div>
					</div>
				</div>
			</div>
		</div>	




	    <%= javascript_include_tag('imagesloaded.js') %>
		<%= javascript_include_tag('_main.js') %>

		<menu></menu>
		
</body>