<%= javascript_include_tag('jquery.js') %>
<%= javascript_include_tag('jquery.maskedinput.js') %>

<%= stylesheet_link_tag "user" %>

<script type="text/javascript" > 

    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('rua').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('uf').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value=(conteudo.logradouro);
            document.getElementById('bairro').value=(conteudo.bairro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('uf').value=(conteudo.uf);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');
        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('rua').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('cidade').value="...";
                document.getElementById('uf').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = '//viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };
 </script>

<script type="text/javascript">

	function TestaCPF(strCPF) {
		var Soma;
		var Resto;
		Soma = 0;
		if (strCPF == "00000000000") return false;

		for (i=1; i<=9; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (11 - i);
		Resto = (Soma * 10) % 11;

		if ((Resto == 10) || (Resto == 11))  Resto = 0;
		if (Resto != parseInt(strCPF.substring(9, 10)) ) return false;

		Soma = 0;
		for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (12 - i);
		Resto = (Soma * 10) % 11;

		if ((Resto == 10) || (Resto == 11))  Resto = 0;
		if (Resto != parseInt(strCPF.substring(10, 11) ) ) return false;
		return true;
	}

	function validaCPF(strCPF){
		if (TestaCPF(strCPF) ){
			document.getElementById('user_cpf').style.backgroundColor="#ffffff";
		} else{
			document.getElementById('user_cpf').style.backgroundColor="rgb(255, 189, 185)";
		}
	}

 </script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#user_phone").mask("(99)9999-9999");
    $("#user_cellphone").mask("(99)99999-9999");
    $("#user_cpf").mask("999.999.999-99");
    $("#user_cep").mask("99.999-999");
  });
</script>

<div class="form" >

  <h2> Cadastro usuário </h2>

  <% if  !@user.errors.empty? %>
    <div class="alert alert-danger">

      <p> <%= image_tag("warning.png",:class =>"warning-img" ,:style => "height:50px;padding-right:15px;") %>
          <strong>Atenção!</strong>
      </p>
      <hr/>

      <% @user.errors.full_messages.each do |msg| %>
      <p><strong>*</strong>  <%= msg %>	</p>
      <% end %>
    </div>
  <% end %>





  <%= form_tag :action => 'create' do %>

  <label> Nome:  </label>
  <%= text_field :user, :name, :maxlength=>"50", :size=>"25", class:"input" %>

  <label> Sobrenome: </label>
  <%= text_field :user, :lastname, :maxlength=>"50" , :size=>"25" , class:"input" %>                     <br/>

  <label> Email: </label>
  <%= text_field :user, :email  , placeholder: "SeuEmail@email.com", :maxlength=>"50", class:"input" %>	  <br/>

  <label> Senha: </label>
  <%= password_field :user, :password , :size=>"10", :maxlength=>"10" , class:"input" %>	                <br/>

  <label> Telefone: </label>
  <%= text_field :user, :phone , :maxlength=>"10" , class:"input" %>

  <label> Celular: </label>
  <%= text_field :user, :cellphone , :maxlength=>"11" , class: "input" %> <br/>

  <label> CPF: </label>
  <%= text_field :user, :cpf, :maxlength=>"11" , :onblur=>"validaCPF(this.value);" , class: "input" %> 		<br/>

  <label> CEP: </label>
  <%= text_field :user, :cep , :maxlength=>"8", :onblur => "pesquisacep(this.value);" , class: "input" %> <br/>

  <label> Rua: </label>		<input class="input" name="rua" type="text" id="rua" size="60" readonly="true"  />				<br />
  <label>Bairro: </label>	<input class="input" name="bairro" type="text" id="bairro" size="40" readonly="true"/>		<br/>
  <label>Cidade: </label>	<input class="input" name="cidade" type="text" id="cidade" size="40" readonly="true"/>
  <label>Estado: </label>	<input class="input" name="uf" type="text" id="uf" size="2" readonly="true" />			    	<br/>

  <label> Número: </label>
  <%= text_field :user, :number , :maxlength=>"10" , class: "input" %>

  <label> Complemento: </label>
  <%= text_field :user, :complement , class: "input" %>		<br/>

  <br/>
  <%= submit_tag 'Cadastrar' ,  class: "submit" %>

  <% end %>
</div>

