<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		
		<title>Jclaud</title>
		
        <%= stylesheet_link_tag "normalize" %> 
        <%= stylesheet_link_tag "bootstrap" %>
        <%= stylesheet_link_tag "slicknav" %>
      
		
		<%= javascript_include_tag('modernizr-2.7.1.min.js') %>
		<%= javascript_include_tag('jquery.js') %>
		<%= javascript_include_tag('jquery-1.9.1.min.js') %>
		<%= javascript_include_tag('jquery.slicknav.min.js') %>
		<%= javascript_include_tag('jquery.fittext.js') %>
		<%= javascript_include_tag('jquery.fadethis.js') %>
		
		
		
	
		<script type="text/javascript">


						$(document).ready( function() {
									
										$(window).fadeThis()
										;
										
										$('.line1').fadeThis({speed:300, offset:0});
										$('.line2').fadeThis({speed:600, offset:0});
										$('.line3').fadeThis({speed:1200, offset:0});
										;




									jQuery(".text-enum-left").fitText(1.5);



									$('a[href^="#"]').on('click',function (e) {
									e.preventDefault();

									var target = this.hash;
									var $target = $(target);
											
										$('body').animate({
										'scrollTop': $target.offset().top - 50
										}, 1100, 'swing', function () {
										window.location.hash = target;
										});
									});
									
								



									$('#menu').slicknav();



									});
									

		</script>
		<style type="text/css">

											body {

										     	height:100%;
											}

		</style>
	</head> 
	<body class="loading">
										
		<div id="header">
			
			
			<div id="wrapper-menu" style=" width:100%; height:100%; float:left; overflow:hidden; position:relative;">
				<div id ="menu_background"></div>
				<label for="show-menu" style="max-width:none;display:none;"class="show-menu">Menu</label>
				<ul id="menu" style="height:100%" >
				<li class="imagem-menu" style="height:100%"><%= image_tag("jclaud-logo.png",:class =>"imagem-menu" ,:style => "height:100%;float:left;padding-right:15px;") %></li>
					<li class="li-menu"><a href="#holder1">Cadastre-se</a></li>
					<li class="li-menu"><a href="#holder2">Entrar</a></li>
					<li class="li-menu"><a href="#holder3">Sobre</a></li>
					<li class="li-menu"><a href="#holder4">Contato</a></li>
				</ul>
			
			 </div>
				
		</div>
		
		<div id="wrapper" style="width:100%;">

			<div id="slide-1" class="slide">
				<div class="bcg">
					<div class="hsContainer" style="padding-left:0;padding-bottom:50px; background:none; box-shadow:none; -moz-box-shadow:none">
													
					</div>
				</div>
			</div>

			<div class="frame" id="holder1" style="height:700px; background-color:#FFFFFF !important">								
		
				<div class="mini_wrapper" style="height:100%;">
					<div style="width:100%; text-align:center; margin-top:2em; " class="title-frame2 slide-top">
						<h1 style="font-size: 4rem;">Lorem ipsum dolor</h1>
					</div>

					<div class="text-frame" style="float:left"  >
						<p class="text-frame-title"><b>Lorem Ipsun</b></p>
						<p>Lorem ipsum dolor sit amet, accumsan pellentesque ac suscipit</p>
					</div>

				</div>
				
			</div>

			<div class="frame" id="holder2" style="background-color:#FFFFFF; ">
															
				<div class="mini_wrapper slide-bottom" style="height:100%;">
					<div style="width:100%; text-align:center; margin-top:2em; " class="title-frame2 slide-top">
						<h1 style="font-size: 4rem;">Lorem ipsum dolor</h1>
					</div>

					<div class="text-frame" style="float:left"  >
						<p class="text-frame-title"><b>Lorem Ipsun</b></p>
						<p>Lorem ipsum dolor sit amet, accumsan pellentesque ac suscipit</p>
					</div>

				</div>
				
			</div>

			<div id="slide-2" class="slide">
				<div class="bcg">
					<div class="hsContainer">
						<div class="hsContentDesc slide-left" >
							<h1 style="font-weight:bold">Lorem ipsum dolor sit amet, accumsan pellentesque ac<br></h1>	
							<h2 style="">Sem non integer dui malesuada sapien ut, praesent donec, sodales ac in velit, dolor ut, arcu morbi metus leo leo. Donec non sit quam, mauris fermentum mauris amet sapien semper, elementum elit</h2>	
						</div>
					</div>
				</div>
			</div>

			<div class="frame" style="background-color:#FFFFFF; min-height:600px;; ">
				<div class="mini_wrapper">
					<div style="width:100%; text-align:center; margin-top:2em" class="title-frame2 slide-top">
						<h1  style="font-size: 4rem;">Lorem ipsum dolor sit amet</h1>
					</div>
					<div class="text-frame" style="float:left; " >												
						<p>Leo fugiat accumsan lacinia lacinia. Sollicitudin mollis integer id, sollicitudin at ultrices fringilla egestas bibendum nulla, a nullam sed dis orci a orci, eu vestibulum euismod a orci mi rutrum. Lacinia turpis est, nunc vestibulum vitae lectus vestibulum urna nibh, malesuada eu nec, aptent curabitur vel amet tincidunt, ac tempor gravida natoque ac justo mollit. Mauris massa neque nullam fusce fringilla, orci nec nascetur posuere nec et urna. </p>
					</div>
				</div>
			</div>
			
			<div class="frame" id="holder3" style="background-color:#FFFFFF; height:700px !important">
				<div class="mini_wrapper slide-bottom" style="text-align:center">
					<div style="width:100%; text-align:center; margin-top:2em" class="title-frame2 slide-top">
						<h1  style="font-size: 4rem;">Lorem ipsum dolor sit amet</h1>
					</div>
					<div class="text-frame" style="float:left; " >												
						<p>Leo fugiat accumsan lacinia lacinia. Sollicitudin mollis integer id, sollicitudin at ultrices fringilla egestas bibendum nulla, a nullam sed dis orci a orci, eu vestibulum euismod a orci mi rutrum. Lacinia turpis est, nunc vestibulum vitae lectus vestibulum urna nibh, malesuada eu nec, aptent curabitur vel amet tincidunt, ac tempor gravida natoque ac justo mollit. Mauris massa neque nullam fusce fringilla, orci nec nascetur posuere nec et urna. </p>
					</div>  
				</div>
			</div>

			<div id="slide-3" class="slide">
				<div class="bcg">
					<div class="hsContainer">
						<div class="hsContentDesc slide-left">
							<h1 style="font-weight:bold">Lorem ipsum dolor sit amet, accumsan pellentesque ac<br></h1>	
							<h2 style="">Sem non integer dui malesuada sapien ut, praesent donec, sodales ac in velit, dolor ut, arcu morbi metus leo leo. Donec non sit quam, mauris fermentum mauris amet sapien semper, elementum elit</h2>	
						</div>
					</div>
				</div>
			</div>
			
			<div class="frame" id="holder4" style="background-color:#bbc3ce; min-height:600px;; ">
				<div class="mini_wrapper">
					<div style="width:100%; text-align:center; margin-top:2em" class="title-frame2 slide-top">
						<h1  style="font-size: 4rem;">Fale Conosco</h1>
					</div>
					<div class="text-frame" style="float:left; " >												
						<p>Leo fugiat accumsan lacinia lacinia. Sollicitudin mollis integer id, sollicitudin at ultrices fringilla egestas bibendum nulla, a nullam sed dis orci a orci, eu vestibulum euismod a orci mi rutrum. Lacinia turpis est, nunc vestibulum vitae lectus vestibulum urna nibh, malesuada eu nec, aptent curabitur vel amet tincidunt, ac tempor gravida natoque ac justo mollit. Mauris massa neque nullam fusce fringilla, orci nec nascetur posuere nec et urna. </p>
					</div>
				</div>
			</div>
			
		</div>
		
		<%= javascript_include_tag('imagesloaded.js') %>
		<%= javascript_include_tag('skrollr.js') %>
		<%= javascript_include_tag('_main.js') %>
		
		<menu></menu>
	</body>
</html>
																			