<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<title>Jclaud</title>

        <%= stylesheet_link_tag "normalize.css" %>
        <%= stylesheet_link_tag "bootstrap.min.css" %>
        <%= stylesheet_link_tag "slicknav.min.css" %>


		<%= javascript_include_tag('modernizr-2.7.1.min.js') %>
		<%= javascript_include_tag('jquery.js') %>
		<%= javascript_include_tag('jquery-1.9.1.min.js') %>
		<%= javascript_include_tag('jquery.slicknav.min.js') %>
		<%= javascript_include_tag('jquery.fittext.js') %>
		<%= javascript_include_tag('jquery.fadethis.js') %>




		<script type="text/javascript">


						$(document).ready( function() {

										$(window).fadeThis()
										;

										$('.line1').fadeThis({speed:300, offset:0});
										$('.line2').fadeThis({speed:600, offset:0});
										$('.line3').fadeThis({speed:1200, offset:0});
										;




									jQuery(".text-enum-left").fitText(1.5);



									$('a[href^="#"]').on('click',function (e) {
									e.preventDefault();

									var target = this.hash;
									var $target = $(target);

										$('body').animate({
										'scrollTop': $target.offset().top - 50
										}, 1100, 'swing', function () {
										window.location.hash = target;
										});
									});





									$('#menu').slicknav();



									});


		</script>
		<style type="text/css">

											body {

										     	height:100%;
											}

		</style>
	</head>
	<body class="loading">

		<div id="header">


			<div id="wrapper-menu" style=" width:100%; height:100%; float:left; overflow:hidden; position:relative;">
				<div id ="menu_background"></div>
				<label for="show-menu" style="max-width:none;display:none;"class="show-menu">Menu</label>
				<ul id="menu" style="height:100%" >
				<li class="imagem-menu" style="height:100%"><%= image_tag("jclaud-logo.png",:class =>"imagem-menu" ,:style => "height:100%;float:left;padding-right:15px;") %></li>
					<li class="li-menu"><a href="<%= new_user_path() %>">Cadastre-se</a></li>
					<li class="li-menu"><a href="<%= cards_path() %>">Cartões</a></li>
					<li class="li-menu"><a href="#holder4">Contato</a></li>
				</ul>

			 </div>

		</div>

		<div id="wrapper" style="width:100%;">

			<div id="slide-1" class="slide">
				<div class="bcg">
					<div class="hsContainer" style="height:60%; padding-left: 50%;background:none; box-shadow:none; -moz-box-shadow:none">
						<div class="mini_wrapper">
								<%= image_tag("jclaud-icon-home.png",:class =>"imagem-menu" ,:style => "height:20%; margin-bottom:5%;") %>
								<h2 style="color:#28201a;">Log in</h2>
								<% flash.each do |name, msg| %>
								    <%= content_tag :div, msg, id: "flash_#{name}" %> <br/>
								<% end %>
								
								<%= form_tag({controller: "sessions", action: "create"}, method: "post") do %>
							
	    							<%= text_field_tag :email, params[:email], class: "input-login", placeholder: "Usuário", name: "email" %> <br />
										
									<%= text_field_tag :password, params[:password], class: "input-login", placeholder: "Senha", name: "password" , type:"password" %> <br />
					        
					           		<%= submit_tag "Ok", class: "botao-login" %>
								<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="frame" id="holder1" style="height:300px; background-color:#FFFFFF !important">

				<div class="mini_wrapper" style="height:100%;">
					<div style="width:100%; text-align:center; margin-top:2em; " class="title-frame2 slide-top">
						<h1 style="font-size: 4rem;">Dezenas de modelos de cartão de visita</h1>
					</div>

					<div class="text-frame" style="float:left"  >
						<p class="text-frame-title"><b></b></p>
						<p>Possuímos diversos modelos, feitos por talentosos designers para você representar bem o seu nome ou sua marca. Escolha um dos nossos modelos de cartão de visita e deixe com a sua cara em nosso exclusivo editor de cartões de visita.</p>
					</div>

				</div>

			</div>

			<div class="frame" id="holder2" style="background-color:#FFFFFF; height:300px;">

				<div class="mini_wrapper slide-bottom" style="height:100%;">
					<div style="width:100%; text-align:center; margin-top:2em; " class="title-frame2 slide-top">
						<h1 style="font-size: 4rem;">Salve em diversos formatos</h1>
					</div>

					<div class="text-frame" style="float:left"  >
						<p class="text-frame-title"><b></b></p>
						<p>Você pode fazer o download da arte dos seus cartões de visita em .PDF, .JPG e .PNG gratuitamente.</p>
					</div>

				</div>

			</div>

			<div id="slide-2" class="slide">
				<div class="bcg">
					<div class="hsContainer">
						<div class="hsContentDesc slide-left" >
							<h1 style="font-weight:bold">Depoimento da Fabiana<br></h1>
							<h5 style="">Eu e meus parceiros estávamos com dificuldades para definir um layout de cartão novo, realizamos alguns orçamentos e teve gráfica cobrando até R$ 300,00 só pela arte! Tivemos sorte de conhecer a JClaud, uma plataforma simples e prática para você modelar seus cartões de visita. Fiquei meio receoso quanto a qualidade, porque como era eu que estava montando o cartão de forma online (inserindo imagens que eu tinha no meu computador) não sabia o que isso impactaria no impresso. Me surpreendi!</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="frame" style="background-color:#FFFFFF; height:300px; ">
				<div class="mini_wrapper">
					<div style="width:100%; text-align:center; margin-top:2em" class="title-frame2 slide-top">
						<h1  style="font-size: 4rem;">Para organizar seus cartões de visita</h1>
					</div>
					<div class="text-frame" style="float:left; " >
						<p>A melhor maneira de organizar os cartões de visita que você recebe é adicionando os contatos na agenda do seu smartphone. Para isso, basta utilizar o CamCard. Esse aplicativo permite com que você escaneie cartões de visita com a camera do seu celular e salve automaticamente na agenda.

							<br>O aplicativo está disponível para download em https://goo.gl/1qHCKL.</p>
					</div>
				</div>
			</div>

			<div class="frame" id="holder3" style="background-color:#FFFFFF; height:300px !important">
				<div class="mini_wrapper slide-bottom" style="text-align:center">
					<div style="width:100%; text-align:center; margin-top:2em" class="title-frame2 slide-top">
						<h1  style="font-size: 4rem;">Personalize com o nosso editor online de cartão de visita</h1>
					</div>
					<div class="text-frame" style="float:left; " >
						<p>Disponibilizamos um editor de exclusivo para que você personalize um dos nossos modelos de cartão de visita ou mesmo criar seu próprio modelo de cartão de visita.</p>
					</div>
				</div>
			</div>

			<div id="slide-3" class="slide">
				<div class="bcg">
					<div class="hsContainer">
						<div class="hsContentDesc slide-left">
							<h1 style="font-weight:bold">Depoimento do Antonio<br></h1>
							<h2 style="">Excelente o site e muito bem elaborado deixando fácil de lidar com as informações. Consegui criar meu cartão de visita bem do jeito que planejei!</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="frame" id="holder4" style="background-color:#bbc3ce; height:600px;; ">
				<div class="mini_wrapper">
					<div style="width:100%; text-align:center; margin-top:2em" class="title-frame2 slide-top">
						<h1  style="font-size: 4rem;">Fale Conosco</h1>
					</div>
					<div class="text-frame" style="float:left; " >
						<p>Através de nosso Atendimento você pode tirar dúvidas, fazer sugestões, elogios ou reclamações sobre nossos produtos e serviços.


								<br><br>Capitais e regiões metropolitanas 11 08000 2564879
							
								<br>Outras regiões 0 41 13 38745-9864
							
								<br><br>Ou por E-mail no endereço : jclaud-cartoes@jclaud.com</p>
					</div>
				</div>
			</div>

		</div>

		<%= javascript_include_tag('imagesloaded.js') %>
		<%= javascript_include_tag('skrollr.js') %>
		<%= javascript_include_tag('_main.js') %>

		<menu></menu>
		<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</body>
</html>
