<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<title>Jclaud</title>

    <%= stylesheet_link_tag "slicknav.min.css" %>
  
	<%= javascript_include_tag('jquery-1.9.1.min.js') %>
	<%= javascript_include_tag('jquery.slicknav.min.js') %>
  
  <script type="text/javascript">
    $(document).ready(function(){
      $('#menu').slicknav();
    });
  </script>

</head>
	<body class="loading">

		<div id="header">


			<div id="wrapper-menu" style=" width:100%; height:100%; float:left; overflow:hidden; position:relative;">
				<div id ="menu_background"></div>
				<label for="show-menu" style="max-width:none;display:none;"class="show-menu">Menu</label>
				<ul id="menu" style="height:100%; margin:0; " >
					<li class="imagem-menu" style="height:100%"><%= image_tag("jclaud-logo.png",:class =>"imagem-menu" ,:style => "height:100%;float:left;padding-right:15px;") %></li>
					<li class="li-menu"><a href="<%= root_path() %>">Inicio</a></li>
					<% if session[:user_id] != nil %>  
						<li class="li-menu"><a href="<%= "#{users_path}/home" %>">Home</a></li>
					<% else %>
						<li class="li-menu"><a href="<%= new_user_path() %>">Cadastre-se</a></li>
					<% end %>
					<li class="li-menu"><a href="<%= cards_path() %>">Cartões</a></li>
				</ul>

			 </div>

		</div>

		<div id="wrapper" >
			<div id="slide-5" class="slide">
				<div class="bcg">
					<div class="hsContainer" style="top:5px; background:none; overflow:auto; bottom:5px;">
			
						<div class="form" >
						
							<p id="notice"><%= notice %></p>

								<div class="row">
									<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" style="width:40%;" >
										<span class="card" style="background: url('<%= Rails.public_path+"/storage/images/"+@card.img_src %>'); background-repeat:no-repeat;  background-size: 100% 100%;"  >	</span>
										<h1 style="margin-top:5%;"> <strong>Title:</strong> <%= @card.title %> </h1>
										<h1> <strong>Description:</strong> <%= @card.description %> </h1>
										
										<%= 
											if session[:user_id] != nil
										    	@sql = "select * from users_cards WHERE user_id = #{session[:user_id]} AND card_id = #{@card.id}"
    											@result = ActiveRecord::Base.connection.execute(@sql)
										    	if @result.count == 0
										    		form_tag :action => 'add',:card_id => @card.id , :user_id => session[:user_id] do 
                                                		submit_tag 'Adiconar' ,  class: "botao-login" , id:"btn_submit" 
													end
												else
													"Este cartão faz parte da sua coleção"
												end	
											end
										%>
										
									</div>		
									<div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" style="width:40%; margin-left:5%;">
										
										<h1 style="margin-top:5%;"> <strong>Usuário:</strong> <%= @user.name + " " + @user.lastname %> </h1>
										<h2> <strong>Email:</strong> <%= @user.email %> </h2>
										
										<h1><strong>Contato</strong></h1>
										<h2> <strong>Celular:</strong> <%= @user.cellphone %> </h2>
										<h2> <strong>Telefone:</strong> <%= @user.phone %> </h2>

									</div>		
									   
								</div>	

	

						</div>
					</div>
				</div>
			</div>
		</div>	




	   <%= javascript_include_tag('imagesloaded.js') %>
		<%= javascript_include_tag('_main.js') %>

		<menu></menu>
		
</body>